header {
    background-color: #6527BE;
    color: white;
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    border-radius: 10px;
}

body {
    background-image: url('/IMG/bg-website.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.opening-web {
    background-color: #6527BE;
    color: white;
    text-align: center;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 10px;
    padding: 8px;
}

.kata-pembuka {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h3 {
    background-color: #6527BE;
    color: white;
    text-align: center;
    margin-left: 42%;
    margin-right: 42%; 
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 1%;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
}

.input-section {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New';
}

label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #9681EB;
}

.judul-rumus {
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 16px;
}

p {
    font-size: 18px;
}

.rumus {
    text-align: center;
    font-size: 16px;
    font-family: monospace;
}

.keterangan-keliling {
    font-size: 16px;
    font-family: monospace;
    font-weight: bolder;
}

.keterangan-luas {
    font-size: 16px;
    font-family: monospace;
    font-weight: bolder;
}

input {
    padding: 10px;
    border: 4px solid #45CFDD;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #6527BE;
}

.keliling {
    background-color: #4477CE;
    color: white;
    font-family: monospace;
    margin-right: 78%;
    padding: 1%;
    border-radius: 10px;
}

.luas {
    background-color: #4477CE;
    color: white;
    font-family: monospace;
    margin-right: 80%;
    padding: 1%;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #8696FE;
    margin-top: 10px;
}

button:hover {
    background-color: #9681EB;
}

button:active {
    transform: translateY(6px);
    background-color: #6527BE;
}

.button1 {
    position: absolute;
    left: 50%;
    margin-bottom: 20px;
}

.button2 {
    float: left;
    display: block;
   margin: 24px;
 }

.button3 {
    float: right;
    display: block;
    margin: 24px;
}

.link {
    color: white;
}

a {
    text-decoration: none;
}

.hitung-keliling {
    margin-left: 40%;
    margin-right: 40%; 
    padding: 8px;
}

hr {
   height: 6px;
   background-color: #9288F8;
   border-radius: 10px;
}

footer {
    background-color: #6527BE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
}